<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sevak Evaluation</title>
</head>

<body>


    <h3>Add Sevak Evaluation</h3>
    <form id="addForm">
        <!-- Talim Batch -->
        <label>Talim Batch:</label>
        <select id="talim_batch_id"></select><br><br>

        <!-- Sevak Dropdown -->
        <label>Sevak:</label>
        <select id="sevak_id"></select><br><br>

        <label for="">Satsang Grade *</label>
        <select id="satsang_grade_id"></select>
        <textarea class="form-control" name="satsang_notes" id="satsang_notes"></textarea> <br><br>

        <label for="">Seva Grade *</label>
        <select id="seva_grade_id"></select>
        <textarea class="form-control" name="seva_notes" id="seva_notes"></textarea><br><br>

        <label for="">Human Relations Grade *</label>
        <select id="human_relations_grade_id"></select>
        <textarea class="form-control" name="human_relations_notes" id="human_relations_notes"></textarea><br><br>

        <label for="">Skill Grade *</label>
        <select id="skill_grade_id"></select>
        <textarea class="form-control" name="skill_notes" id="skill_notes"></textarea><br><br>

        <label for="">Abhyas Grade *</label>
        <select id="abhyas_grade_id"></select>
        <textarea class="form-control" name="abhyas_notes" id="abhyas_notes"></textarea><br><br>

        <label for="">Family Economic Status Grade *</label>
        <select id="family_ecostatus_grade_id"></select>
        <textarea class="form-control" name="family_ecostatus_notes" id="family_ecostatus_notes"></textarea><br><br>

        <label for="">Family Satsang Grade *</label>
        <select id="family_satsang_grade_id"></select>
        <textarea class="form-control" name="family_satsang_notes" id="family_satsang_notes"></textarea><br><br>

        <label for="">Overall Grade *</label>
        <select id="overall_grade_id"></select>
        <textarea class="form-control" name="overall_notes" id="overall_notes"></textarea><br><br>

        <label for="">Remarks</label>
        <textarea class="form-control" name="remarks" id="remarks"></textarea> <br><br>

        <button type="submit" class="btn btn-add">Add</button>
    </form>

</body>

<script src="/Exam/SevakEvaluation/Add.js"></script>


</html>