<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Sevak Registration</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <h2>Edit Sevak Registration</h2>

    <form id="sevakForm">
        <fieldset>
            <!-- Sevak Number + YTK ID -->
            <label for="sevak_no">Sevak No:</label>
            <input type="text" id="sevak_no" onkeyup="generateYtkID()">
            <span id="is_sevak_duplicate" style="display:none;color:red;">Duplicate Sevak No!</span>
            <br>

            <label>Talim Batch:</label>
            <select id="addbatch" name="talim_batch_id"></select>
            <br>

            <label for="ytk_id">YTK ID:</label>
            <input type="text" id="ytk_id" name="ytk_id">
            <br><br>

            <label>First Name:</label>
            <input type="text" id="first_name" name="first_name"><br>

            <label>Last Name:</label>
            <input type="text" id="last_name" name="last_name"><br>

            <label>Middle Name:</label>
            <input type="text" id="middle_name" name="middle_name"><br>

            <label for="birth_date">Birth Date:</label>
            <input type="date" id="birth_date" name="birth_date"><br>

            <label for="addcaste">Caste:</label>
            <select id="addcaste" name="caste_id"></select><br>

            <label for="addcategory">Category:</label>
            <select id="addcategory" name="category_id"></select><br>

            <label for="addbloodgroup">Blood Group:</label>
            <select id="addbloodgroup" name="blood_group_id"></select><br>

            <label for="addgender">Gender:</label>
            <select id="addgender" name="gender">
                <option value="">-- Select --</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
            </select><br>

            <label>Marital Status:</label>
            <select id="addmaritalstatus" name="marital_status_id"></select><br>

            <div id="maritalStatusDate">
                <label for="marital_status_id" id="engagedDate">
                    Engaged Date :
                </label>
                <label for="marital_status_id" id="marriedDate">
                    Marriage Date :
                </label>
                <input type="date" id="marital_date" name="marital_date" autocomplete="off">

            </div><br>


            <label for="sevak_photo">Sevak Photo:</label>
            <input type="file" id="sevak_photo" name="sevak_photo"><br>

            <label for="latest_photo">Latest Photo:</label>
            <input type="file" id="latest_photo" name="latest_photo"><br>

            <!-- City Section (Current Address) -->
            <h3>Current Address</h3>
            <label for="address">Address</label>
            <input type="text" id="address" name="address1"><br>

            <label for="addcity">City:</label>
            <select id="addcity" name="city_id"></select><br>

            <label for="addcityarea">City Area:</label>
            <select id="addcityarea" name="city_area_id"></select><br>

            <label for="addpincode">Pincode:</label>
            <select id="addpincode" name="pincode"></select><br>

            <label for="taluka_name">Taluka:</label>
            <input type="text" id="taluka_name" readonly>
            <input type="hidden" id="taluka_id" name="taluka_id"><br>

            <label for="district_name">District:</label>
            <input type="text" id="district_name" readonly>
            <input type="hidden" id="district_id" name="district_id"><br>

            <label for="state_name">State:</label>
            <input type="text" id="state_name" readonly>
            <input type="hidden" id="state_id" name="state_id"><br>

            <label for="country_name">Country:</label>
            <input type="text" id="country_name" readonly>
            <input type="hidden" id="country_id" name="country_id"><br><br>


            <!-- Mandir Section () -->
            <div id="withoutIndiaDiv">
                <label for="current_kshetra_id">
                    Shikharbaddh Mandir:
                </label>
                <select class="form-control" name="shikhar_mandir_id" id="shikhar_mandir_id">
                    <option value="">Select Shikharbaddh Mandir</option>
                </select>
                <label for="hari_mandir_id">Hari Mandir :</label>
                <select class="form-control" name="hari_mandir_id" id="hari_mandir_id">
                    <option value="">Select Hari Mandir</option>
                </select>
                <label for="satsang_mandal_name">Satsang Mandal Name :</label>
                <input type="text" class="form-control" name="satsang_mandal_name" id="satsang_mandal_name">
            </div>
            <br><br>

            <div class="current_kshetra_info" id="withIndiaDiv">
                <label for="current_kshetra">Current Kshetra:</label>
                <select id="current_kshetra" name="current_kshetra_id"></select><br>
                <label for="current_sant_nirdeshak">Sant Nirdeshak:</label>
                <input type="text" id="current_sant_nirdeshak_name" readonly> <!-- Display Only -->
                <input type="hidden" id="current_sant_nirdeshak" name="current_sant_nirdeshak"><br> <!-- Submit ID -->
                <label for="current_nirdeshak">Nirdeshak:</label>
                <input type="text" id="current_nirdeshak_name" readonly> <!-- Display Only -->
                <input type="hidden" id="current_nirdeshak" name="current_nirdeshak"><br> <!-- Submit ID -->
                <label for="current_mandir">Mandir:</label>
                <input type="text" id="current_mandir_name" readonly> <!-- Display Only -->
                <input type="hidden" id="current_mandir" name="current_mandir"><br> <!-- Submit ID -->
                <label for="current_mandir_type">Mandir Type:</label>
                <input type="text" id="current_mandir_type" name="current_mandir_type" readonly><br><br>
            </div>

            <!-- Permanent Address -->
            <label><input type="checkbox" id="is_perm_add" name="is_perm_add"> Is PERMANENT ADDRESS same
                as CURRENT ADDRESS</label>
            <div id="permanent_address">
                <h3>Permanent Address</h3>
                <label for="per_address">Address</label>
                <input type="text" id="per_address" name="per_address1" autocomplete="off"><br>

                <label for="per_city">City:</label>
                <select id="per_city" name="per_city_id"></select><br>

                <label for="per_city_area">City Area:</label>
                <select id="per_city_area" name="per_city_area_id"></select><br>

                <label for="per_pincode">Pincode:</label>
                <select id="per_pincode" name="per_pincode"></select><br>

                <label for="per_taluka_name">Taluka:</label>
                <input type="text" id="per_taluka_name" readonly>
                <input type="hidden" id="per_taluka_id" name="per_taluka_id"><br>

                <label for="per_district_name">District:</label>
                <input type="text" id="per_district_name" readonly>
                <input type="hidden" id="per_district_id" name="per_district_id"><br>

                <label for="per_state_name">State:</label>
                <input type="text" id="per_state_name" readonly>
                <input type="hidden" id="per_state_id" name="per_state_id"><br>

                <label for="per_country_name">Country:</label>
                <input type="text" id="per_country_name" readonly>
                <input type="hidden" id="per_country_id" name="per_country_id"><br><br>
            </div>

            <br><br>

            <!-- Talim Address -->
            <label><input type="checkbox" id="is_talim_add" name="is_talim_add"> Is TALIM ADDRESS same as CURRENT
                ADDRESS</label>
            <div id="talim_address">
                <h3>Talim Address</h3>
                <label for="talim_address">Address</label>
                <input type="text" id="talim_address_input" name="talim_address1"><br>
                <label for="talim_city">City:</label>
                <select id="talim_city" name="talim_city_id"></select><br>

                <label for="talim_city_area">City Area:</label>
                <select id="talim_city_area" name="talim_city_area_id"></select><br>

                <label for="talim_pincode">Pincode:</label>
                <select id="talim_pincode" name="talim_pincode"></select><br>

                <label for="talim_taluka_name">Taluka:</label>
                <input type="text" id="talim_taluka_name" readonly>
                <input type="hidden" id="talim_taluka_id" name="talim_taluka_id"><br>

                <label for="talim_district_name">District:</label>
                <input type="text" id="talim_district_name" readonly>
                <input type="hidden" id="talim_district_id" name="talim_district_id"><br>

                <label for="talim_state_name">State:</label>
                <input type="text" id="talim_state_name" readonly>
                <input type="hidden" id="talim_state_id" name="talim_state_id"><br>

                <label for="talim_country_name">Country:</label>
                <input type="text" id="talim_country_name" readonly>
                <input type="hidden" id="talim_country_id" name="talim_country_id"><br><br>
            </div>
            <hr>

            <!-- Kshetra Section -->
            <h3>Kshetra Details</h3>

            <div id="permanent_kshetra_info">
                Form submitted from <br>
                <label for="kshetra">Permanent Kshetra:</label>
                <select id="kshetra" name="kshetra_id"></select><br>
                <label for="sant_nirdeshak_name">Sant Nirdeshak:</label>
                <input type="text" id="sant_nirdeshak_name" readonly> <!-- Display Only -->
                <input type="hidden" id="sant_nirdeshak" name="sant_nirdeshak"><br> <!-- Submit ID -->
                <label for="nirdeshak_name">Nirdeshak:</label>
                <input type="text" id="nirdeshak_name" readonly> <!-- Display Only -->
                <input type="hidden" id="nirdeshak" name="nirdeshak"><br> <!-- Submit ID -->
                <label for="mandir_name">Mandir:</label>
                <input type="text" id="mandir_name" readonly> <!-- Display Only -->
                <input type="hidden" id="mandir" name="mandir"><br> <!-- Submit ID -->
                <label for="mandir_type">Mandir Type:</label>
                <input type="text" id="mandir_type" readonly name="mandir_type"><br><br>

            </div>

            <div id="talim_kshetra_info">
                <label for="talim_kshetra">Talim Kshetra:</label>
                <select id="talim_kshetra" name="talim_kshetra_id"></select><br>
                <label for="talim_sant_nirdeshak_name">Sant Nirdeshak:</label>
                <input type="text" id="talim_sant_nirdeshak_name" readonly> <!-- Display Only -->
                <input type="hidden" id="talim_sant_nirdeshak" name="talim_sant_nirdeshak"><br> <!-- Submit ID -->
                <label for="talim_nirdeshak_name">Nirdeshak:</label>
                <input type="text" id="talim_nirdeshak_name" readonly> <!-- Display Only -->
                <input type="hidden" id="talim_nirdeshak" name="talim_nirdeshak"><br> <!-- Submit ID -->
                <label for="talim_mandir_name">Mandir:</label>
                <input type="text" id="talim_mandir_name" readonly> <!-- Display Only -->
                <input type="hidden" id="talim_mandir" name="talim_mandir"><br> <!-- Submit ID -->
                <label for="talim_mandir_type">Mandir Type:</label>
                <input type="text" id="talim_mandir_type" name="talim_mandir_type" readonly><br><br>
            </div>


            <div class="satsangi_referee">
                <hr>
                <!-- Satsangi Referee Section -->
                <h3>Satsangi Referee</h3>

                <label>
                    <input type="checkbox" id="ytk_sevak_satsangi" name="ytk_sevak_satsangi">
                    <span>YTK Sevak</span>
                </label>

                <div id="ytk_sevak_fields" style="display:none; margin-top:10px;">
                    <label for="satsangi_batch_id">Batch :</label>
                    <select name="satsangi_batch_id" id="satsangi_batch_id"></select> <br>

                    <label for="satsangi_sevak_id">Sevak :</label>
                    <select name="satsangi_sevak_id" id="satsangi_sevak_id"></select> <br>
                </div>

                <div id="ref_fields" style="margin-top:10px;">
                    <label for="sat_ref_name">Name :</label>
                    <input type="text" name="sat_ref_name" id="sat_ref_name" placeholder="Name"> <br>

                    <label for="sat_ref_city_id">City/Village :</label>
                    <select name="sat_ref_city_id" id="sat_ref_city_id"></select> <br>

                    <label for="sat_ref_mobile">Mobile No : </label>
                    <select name="sat_ref_mobile_country_code" id="sat_ref_mobile_country_code"></select>

                    <input type="number" name="sat_ref_mobile" id="sat_ref_mobile"
                        title="Please Enter 10 Digit Your Mobile No" placeholder="Mobile No">
                </div>

            </div>

            <div class="inspired_by">
                <hr>
                <!-- Inspired By Section -->
                <h3>Inspired By</h3>

                <label>
                    <input type="checkbox" id="ytk_sevak_inspired" name="ytk_sevak_inspired">
                    <span>YTK Sevak</span>
                </label>

                <div id="ytk_inspired_fields" style="display:none; margin-top:10px;">
                    <label for="inpired_batch_id">Batch :</label>
                    <select name="inpired_batch_id" id="inpired_batch_id"></select> <br>

                    <label for="inspired_sevak_id">Sevak :</label>
                    <select name="inspired_sevak_id" id="inspired_sevak_id"></select> <br>
                </div>

                <div id="ins_ref_fields" style="margin-top:10px;">
                    <label for="ins_by_name">Name :</label>
                    <input type="text" name="ins_by_name" id="ins_by_name" placeholder="Name"> <br>

                    <label for="ins_by_city_id">City/Village :</label>
                    <select name="ins_by_city_id" id="ins_by_city_id"></select> <br>

                    <label for="ins_by_mobile">Mobile No : </label>
                    <select name="ins_by_country_code" id="ins_by_country_code"></select>

                    <input type="number" name="ins_by_mobile" id="ins_by_mobile"
                        title="Please Enter 10 Digit Your Mobile No" placeholder="Mobile No">
                </div>

            </div>

        </fieldset>
        <hr>

        <!-- step 2 -->

        <h4>Education</h4>

        <div class="education_section">

            <input type="hidden" id="current_table_row_education">
            <table class="table table-bordered table-striped" id="educationInvoice">
                <thead>
                    <tr>
                        <th>Degree</th>
                        <th>Specialization</th>
                        <th>Remark</th>
                        <th><i class="fa fa-flash"></i></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="m-0 p-0">
                            <select name="degree_id[]" id="adddegree" required></select>
                        </td>
                        <td class="m-0 p-0">
                            <select name="specialization_id[]" id="addspecialization"></select>
                        </td>
                        <td class="m-0 p-0">
                            <input type="text" name="edu_remark[]">
                        </td>
                        <td class="m-0 p-0 text-center"></td>

                    </tr>

                </tbody>
            </table>

            <button type="button" class="btn btn-success btn-block pull-right" onclick="insertEducation()"><i
                    class="fa fa-plus-circle"></i>
                Add New Education
            </button>

            <h4><i class="fa fa-user"></i>
                Employment</h4>
            <input type="hidden" id="current_table_row_employment">
            <table class="table table-bordered table-striped" id="employmentInvoice">
                <thead>
                    <tr>
                        <th>Employment Type</th>
                        <th>Detail</th>
                        <th>Post/Designation</th>
                        <th>Remark</th>
                        <th><i class="fa fa-flash"></i></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="m-0 p-0">
                            <select name="employment_id[]" id="employment_ids">
                                <option value="">Select Employment
                                    Type
                                </option>
                            </select>
                        </td>
                        <td class="m-0 p-0">
                            <input type="text" name="emp_detail[]" id="emp_details">
                        </td>
                        <td class="m-0 p-0">
                            <input type="text" name="post_designation[]" id="post_designations">
                        </td>
                        <td class="m-0 p-0"><input type="text" name="emp_remark[]" id="emp_remarks">
                        </td>
                        <td class="m-0 p-0 text-center"></td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="btn btn-success btn-block addEmpBtn" onclick="insertEmployment()"><i
                    class="fa fa-plus-circle"></i>
                Add New Employment
            </button>
            <br />
        </div>

        <!-- Step 3 -->

        <h4>Family Detail</h4>
        <div class="family_details">
            <input type="hidden" id="current_table_row_family">
            <table class="table table-bordered table-striped" id="familyInvoice">
                <thead>
                    <tr>
                        <th>Relationship</th>
                        <th width="30%">Name</th>
                        <th colspan="2">Mobile</th>
                        <th width="20%">Email</th>
                        <th>Occupation</th>
                        <th><i class="fa fa-flash"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="m-0 p-0">
                            <select name="relationship_id[]" id="relationship_ids">
                                <option value="">Select Relationship</option>
                            </select>
                        </td>
                        <td class="m-0 p-0">
                            <input type="text" name="family_name[]" id="family_names">
                        </td>
                        <td class="m-0 p-0" width="15%">
                            <select name="family_country_code[]" id="family_country_code">
                                <option value="">---</option>
                            </select>

                        </td>
                        <td class="m-0 p-0">
                            <input type="number" name="family_mobile[]" id="family_mobile"
                                title="Please Enter Your 10 Dogit Mobile Number.">
                            <span id="spnError" style="color: Red; display: none">*Valid
                                characters: Numbers and space.</span>
                        </td>
                        <td class="m-0 p-0">
                            <input type="email" name="family_email[]" id="family_emails">
                        </td>
                        <td class="m-0 p-0">
                            <input type="text" name="family_occupation[]" id="family_occupations">
                        </td>
                        <td class="m-0 p-0 text-center">

                        </td>
                    </tr>

                </tbody>
            </table>

            <button type="button" class="btn btn-success btn-block btnAddFamily" onclick="insertFamily()"><i
                    class="fa fa-plus-circle"></i>Add New Member</button>
        </div>
        <br />

        <!-- Step 4 -->
        <h4>Contact</h4>

        <div class="contact">
            <label for="contact_mobile1">Mobile 1 :</label>
            <select name="mobile1_country_code" id="mobile1_country_code"></select>
            <input type="number" name="contact_mobile1" id="contact_mobile1"
                title="Please Enter 10 Digit Your Mobile No" placeholder="Mobile 1">
            <br><br>

            <label for="contact_mobile2">Mobile 2 :</label>
            <select name="mobile2_country_code" id="mobile2_country_code"></select>
            <input type="number" name="contact_mobile2" id="contact_mobile2"
                title="Please Enter 10 Digit Your Mobile No" placeholder="Mobile 2">
            <br><br>

            <label for="contact_phone_1">Office Phone 1 :</label>
            <input type="text" name="contact_phone_1" id="contact_phone_1" placeholder="Office Phone 1">
            <br><br>

            <label for="contact_phone_2">Office Phone 2 :</label>
            <input type="text" name="contact_phone_2" id="contact_phone_2" placeholder="Office Phone 2">
            <br><br>

            <label for="contact_res_phone1">Residence Phone 1 : </label>
            <input type="text" name="contact_res_phone1" id="contact_res_phone1" placeholder="Residence Phone 1">
            <br><br>

            <label for="contact_res_phone2">Residence Phone 2 :</label>
            <input type="text" name="contact_res_phone2" id="contact_res_phone2" placeholder="Residence Phone 2">
            <br><br>

            <label for="contact_per_mail">Personal Email :</label>
            <input type="email" name="contact_per_mail" placeholder="Personal Email" id="contact_per_mail">
            <br><br>

            <label for="contact_bus_mail">Business Email :</label>
            <input type="email" name="contact_bus_mail" id="contact_bus_mail" placeholder="Business Email">
            <br><br>

            <label>Whatsapp No :</label>
            <label for="sameprimaryno">
                <input type="checkbox" name="sameprimaryno" id="sameprimaryno">Same as Parimary
                No</label>
            <br><br>

            <select name="whatsapp_country_code" id="whatsapp_country_code"></select>
            <input type="number" placeholder="Whatsapp No" name="contact_whatsapp_no"
                title="Please Enter 10 Digit Your Mobile No" id="contact_whatsapp_no">
            <br><br>
        </div>

        <!-- step 5 satsang details -->
        <fieldset>
            <h4>Satsang Network</h4>

            <div class="satsang_network">
                <label for="satasangi_since">Satasangi Since</label>
                <input type="hidden" name="hidden_satasangi_since" id="hidden_satasangi_since">
                <select name="satasangi_since" id="satasangi_since"></select>
                <br>

                <label for="satsang_remark">Remarks</label>
                <textarea name="satsang_remark" placeholder="Remark" id="satsang_remark"></textarea>
                <br>
                <label for="other_achievement">Goshthi Group</label>
                <select name="gosthi_group_id" id="addgosthi"></select>
                <br>
                <label for="achievement_remarks">Goshthi Status</label>
                <select name="gosthi_group_status">
                    <option value="Y">Y</option>
                    <option value="N">N</option>
                </select> <br>

                <label for="goshthi_status_remark">Goshthi Status Remarks</label>
                <textarea name="goshthi_status_remark" placeholder="Goshthi Status Remarks"
                    id="goshthi_status_remark"></textarea>
                <br>
            </div>

            <hr>

            <h4>Satsang Seva</h4>
            <div class="satsang_seva">
                <input type="hidden" id="current_table_row_satsang">
                <table class="table table-bordered table-striped" id="satsangInvoice">
                    <thead>
                        <tr>
                            <th>Activity</th>
                            <th>Designation</th>
                            <th>Details</th>
                            <th><i class="fa fa-flash"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="m-0 p-0">
                                <select id="satsang_activity_id" name="satsang_activity_id[]"></select>
                            </td>
                            <td class="m-0 p-0">
                                <select id="satsang_designation_id" name="satsang_designation_id[]"></select>
                            </td>
                            <td class="m-0 p-0"><input type="text" name="seva_details[]">
                            </td>
                            <td class="m-0 p-0 text-center">

                            </td>
                        </tr>
                    </tbody>
                </table>

                <button type="button" class="btn btn-success btn-block" onclick="insertSatsang()"><i
                        class="fa fa-plus-circle"></i>Add New Satsang Seva</button>

            </div>
            <br />
        </fieldset>

        <br>

        <fieldset>
            <h4>Talent</h4>
            <div id="talent_section">
                <input type="hidden" id="current_table_row_talent">
                <table class="table table-bordered table-striped" id="talentInvoice">
                    <thead>
                        <tr>
                            <th>Talent</th>
                            <th>Grade</th>
                            <th>Detail</th>
                            <th><i class="fa fa-flash"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="m-0 p-0">
                                <select name="talent_id[]" id="talent_id">
                                    <option value="">Select Talent</option>
                                </select>
                            </td>
                            <td class="m-0 p-0">
                                <select name="grade_id[]" id="grade_id">
                                    <option value="">Select Grade</option>
                                </select>
                            </td>
                            <td class="m-0 p-0">
                                <input type="text" name="talent_detail[]">
                            </td>
                            <td class="m-0 p-0 text-center"></td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-success btn-block" onclick="InsertTalent()"><i
                        class="fa fa-plus-circle"></i>Add New Talent</button>

                <br />

                <h4>Achievement</h4>
                <label for="other_achievement">Other Achievement :</label>
                <textarea name="other_achievement" id="other_achievement" placeholder="Other Achivement"
                    rows="1"></textarea>
                <br>
                <label for="achievement_remarks">Remarks :</label>
                <textarea name="achievement_remarks" id="achievement_remarks" placeholder="Remarks" rows="1"></textarea>
            </div>

            <h4> Sevak Status</h4>

            <!-- only for Admin -->

            <div>
                <button type="button" class="btn btn-success btn-block">
                    <input type="checkbox" name="certified" id="certified"> P-Certified
                </button>
                <button type="button" class="btn btn-success btn-block">
                    <input type="checkbox" onclick="notCompleteDiv()" name="not_complete" id="not_complete"> A-Not
                    Complete
                </button>
                <button type="button" class="btn btn-success btn-block">
                    <input type="checkbox" onclick="temporaryDiv()" name="temporary" id="temporary"> T-Temporary
                </button>
                <button type="button" class="btn btn-success btn-block">
                    <input type="checkbox" onclick="expiredDiv()" name="expired" id="expired">E-Expired
                </button>
                <button type="button" class="btn btn-success btn-block">
                    <input type="checkbox" onclick="santInBapsDiv()" name="sant_in_baps" id="sant_in_baps">S-Sant in
                    BAPS
                </button>
                <br>
            </div>
            <br>
            <!-- only for Admin -->

            <div id="not_complete_div">
                <label for="status">Not Complete :</label>
                <input type="date" id="not_complete_date" title="Select Not Complete"
                    placeholder="dd-mm-yyy (Not Complete Date)" autocomplete="off" name="not_complete_date">

                <label for="status">Not Complete Remark:</label>
                <input type="text" id="not_complete_remark" name="not_complete_remark">
            </div>
            <!-- only for Admin -->

            <div id="temporary_div">
                <label for="status">Temporary :</label>
                <input type="date" id="temporary_date" title="Select Temporary Date"
                    placeholder="dd-mm-yyy (Temporary Date)" autocomplete="off" name="temporary_date">
                <label for="status">Temporary Remark:</label>
                <input type="text" id="temporary_remark" name="temporary_remark">
            </div>
            <!-- only for Admin -->

            <div id="expired_div">
                <label for="status">Expired : </label>
                <input type="date" id="expired_date" title="Select Expired Date" placeholder="dd-mm-yyy (Expired Date)"
                    autocomplete="off" name="expired_date">

                <label for="status">Expired Remark:</label>
                <input type="text" id="expired_remark" name="expired_remark">
            </div>
            <br>
            <!-- only for Admin -->

            <div id="sant_in_baps_div">
                <input type="text" placeholder="Name Of Parshad" name="name_of_parshad" id="name_of_parshad">
                <input type="date" id="parshad_date" placeholder="dd-mm-yyy" name="parshad_date" autocomplete="off">
                <br>
                <input type="text" placeholder="Name Of Sant" name="name_of_sant" id="name_of_sant">
                <input type="date" id="sant_in_baps_date" placeholder="dd-mm-yyy" name="sant_in_baps_date"
                    autocomplete="off">
            </div>


            <div style="display: none">
                <label for="status">Status :</label>
                <select name="status[]" multiple id="status" title="Select Status" onchange="toggleStatus(this.value)">
                    <option value="">Select Status</option>
                    <option value="Admitted" id="Admitted">Admitted</option>
                    <option value="Certified" id="Certified">Certified</option>
                    <option value="Not Complete" id="NotComplete">Not Complete</option>
                    <option value="Expired" id="Expired">Expired</option>
                    <option value="Temporary" id="Temporary">Temporary</option>
                    <option value="Sant in BAPS" id="SantinBAPS">Sant in BAPS</option>
                </select>
            </div>
            </div>

            <!-- only for Admin -->

            <label for="role_id">Role *</label>

            <select name="role_id" style="width: 100%" id="role_id" required title="Select Role">
                <option value="1">Admin</option>
                <option value="2" readonly selected style="color: red;font-weight: 600">Sevak</option>
                <option value="3" disabled style="color: red;font-weight: 600">Sanchalak</option>
                <option value="4" disabled style="color: red;font-weight: 600">Sah Sanchalak</option>
                <option value="6">Sanyojak</option>
                <option value="8">Sub Admin</option>
                <option value="10" disabled style="color: red;font-weight: 600">Nirikshak</option>
                <option value="12" disabled style="color: red;font-weight: 600">Followup Sahayak</option>
                <option value="15">Database Operator</option>
            </select>

            <label for="login_active">Login Active :</label>
            <select name="login_active" id="login_active">
                <option value="Y">Active</option>
                <option value="N">In Active</option>
            </select>

        </fieldset>
        <button type="submit" value="Submit" name="submit">Submit</button>


    </form>

    <script src="/SevakRegistration/editsevakregistration.js"></script>

</body>

</html>