<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Gosthi Schedule</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
</head>

<body>
    <div>
        <h2>Add Gosthi Schedule</h2>
        <hr>
        <form id="gosthiScheduleForm">
            <label>Gosthi Year *</label>
            <select id="gosthi_year" name="gosthi_year" required onchange="getGosthiYearWise(this.value);"></select>
            <select id="gosthi_month" name="gosthi_month" required>
                <option value="">- Select Gosthi Month -</option>
            </select>

            <label>Gosthi Evaluation Report Submission Date *</label>
            <input type="date" id="report_submission_from_date" name="report_submission_from_date" required>

            <h4> Gosthi Topic Detail</h4>

            <!-- Topic selection -->

            <label>Gosthi Topic Type:</label>
            <select id="gosthi_topic_type_id" name="gosthi_topic_type_id"
                onchange="getGosthiNumber(this.value);"></select>

            <label>No:</label>
            <input type="text" id="gosthi_topic_type_no" name="gosthi_topic_type_no" readonly>

            <label>Topic Name:</label>
            <input type="text" id="topic_name" name="topic_name">

            <button type="button" id="addItem" onclick="InsertTableRow()">
                Add
            </button>

            <!-- Table -->

            <table id="GosthiTopicTable">
                <thead>
                    <tr style="background: #eeeeee;">
                        <th>Gosthi Topic Type</th>
                        <th>Gosthi No</th>
                        <th>Topic Name</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <button type="submit">Save</button>
        </form>

        <script src="/Gosthi/GosthiSchedule/GosthiSchedule.js"></script>

</body>

</html>